h1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #598B2C;
  background-color: #604D53;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1:hover {
  background-color: #598B2C;
  color: #604D53
}
h1:active {
  transform: scale(0.98);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #D2E0BF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}