body{
  background-color: mintcream;
  font-family: 'Arial', sans-serif;
  color: #000000;
  text-shadow: 1px 2px 2px rgba(23, 13, 210, 0.1);
  margin: 0;
  padding: 0;
}

h1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #598B2C;
  background-color: #604D53;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

h1:hover {
  background-color: #598B2C;
  color: #604D53
}
h1:active {
  transform: scale(0.98);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #A8DF8E;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px; 
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.output-group {
display: flex;
gap: 10px;
}
